<!DOCTYPE html> 

<html>  
   <head> 
      <meta charset = "utf-8"> 
      <title>Model Deployment</title> 
   </head> 
  
   <body> 
      <header>Model Deployment</header> 

      <p>We have linked our HTML page</p>
      
      <article> 
         <section> 
            <form action="" method="post">
                <input type="number" name="marks" placeholder="Enter marks">
                <input type="submit" value="Send">
            </form>
         </section> 
      </article> 
      <aside>
         <p>Predicted Result is : {{ myMark }} </p>
      </aside> 
      
      <footer>...</footer> 
   </body> 
</html> 